@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7jjo5q');
  src:  url('../fonts/icomoon.eot?7jjo5q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7jjo5q') format('truetype'),
    url('../fonts/icomoon.woff?7jjo5q') format('woff'),
    url('../fonts/icomoon.svg?7jjo5q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Add:before {
  content: "\e900";
  color: #021d49;
}
.icon-address:before {
  content: "\e901";
  color: #021d49;
}
.icon-android:before {
  content: "\e902";
  color: #4e5e6c;
}
.icon-apple:before {
  content: "\e903";
  color: #4e5e6c;
}
.icon-Arrow-back:before {
  content: "\e904";
  color: #021d49;
}
.icon-Arrow-bottom:before {
  content: "\e905";
  color: #021d49;
}
.icon-Arrow-forward:before {
  content: "\e906";
  color: #021d49;
}
.icon-Arrow-Left:before {
  content: "\e907";
}
.icon-Arrow-Right:before {
  content: "\e908";
}
.icon-Arrow-Up:before {
  content: "\e909";
  color: #021d49;
}
.icon-Asterix:before {
  content: "\e90a";
  color: #4e5e6c;
}
.icon-Calendar:before {
  content: "\e90b";
  color: #021d49;
}
.icon-Camera:before {
  content: "\e90c";
  color: #021d49;
}
.icon-Cancel:before {
  content: "\e90d";
  color: #021d49;
}
.icon-Check-2:before {
  content: "\e90e";
  color: #021d49;
}
.icon-Check:before {
  content: "\e90f";
  color: #021d49;
}
.icon-Chevron-down:before {
  content: "\e910";
  color: #021d49;
}
.icon-Chevron-left:before {
  content: "\e911";
  color: #021d49;
}
.icon-Chevron-right:before {
  content: "\e912";
}
.icon-Chevron-up:before {
  content: "\e913";
}
.icon-Clock-Copy-1:before {
  content: "\e914";
  color: #021d49;
}
.icon-Clock:before {
  content: "\e915";
  color: #021d49;
}
.icon-Close:before {
  content: "\e916";
  color: #021d49;
}
.icon-Comment:before {
  content: "\e917";
  color: #021d49;
}
.icon-Dollar:before {
  content: "\e918";
  color: #4e5e6c;
}
.icon-Dropdown-Right:before {
  content: "\e919";
  color: #021d49;
}
.icon-Dropdown:before {
  content: "\e91a";
  color: #021d49;
}
.icon-Enlarge:before {
  content: "\e91b";
  color: #4e5e6c;
}
.icon-Error:before {
  content: "\e91c";
  color: #4e5e6c;
}
.icon-Favorite:before {
  content: "\e91d";
  color: #021d49;
}
.icon-Filter:before {
  content: "\e91e";
  color: #4e5e6c;
}
.icon-Floorplan:before {
  content: "\e91f";
  color: #4e5e6c;
}
.icon-Hand .path1:before {
  content: "\e920";
  color: rgb(255, 255, 255);
}
.icon-Hand .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(24, 26, 35);
}
.icon-Info:before {
  content: "\e922";
  color: #4e5e6c;
}
.icon-Loading:before {
  content: "\e923";
  color: #4e5e6c;
}
.icon-Location:before {
  content: "\e924";
  color: #4e5e6c;
}
.icon-Lock:before {
  content: "\e925";
  color: #4e5e6c;
}
.icon-Mail:before {
  content: "\e926";
  color: #021d49;
}
.icon-Mail-Sign:before {
  content: "\e927";
  color: #4e5e6c;
}
.icon-Map:before {
  content: "\e928";
  color: #021d49;
}
.icon-Medium:before {
  content: "\e929";
}
.icon-Menu:before {
  content: "\e92a";
  color: #4e5e6c;
}
.icon-Minus:before {
  content: "\e92b";
  color: #021d49;
}
.icon-Notifications:before {
  content: "\e92c";
  color: #4e5e6c;
}
.icon-Percent:before {
  content: "\e92d";
  color: #4e5e6c;
}
.icon-Phone:before {
  content: "\e92e";
  color: #021d49;
}
.icon-Play-2:before {
  content: "\e92f";
  color: #4e5e6c;
}
.icon-Play:before {
  content: "\e930";
  color: #4e5e6c;
}
.icon-Pounds:before {
  content: "\e931";
  color: #021d49;
}
.icon-Print:before {
  content: "\e932";
  color: #4e5e6c;
}
.icon-Question-Copy-1:before {
  content: "\e933";
  color: #4e5e6c;
}
.icon-Question:before {
  content: "\e934";
  color: #4e5e6c;
}
.icon-Quote:before {
  content: "\e935";
  color: #4e5e6c;
}
.icon-Reduce:before {
  content: "\e936";
  color: #4e5e6c;
}
.icon-Search:before {
  content: "\e937";
  color: #4e5e6c;
}
.icon-Share:before {
  content: "\e938";
  color: #4e5e6c;
}
.icon-Shop:before {
  content: "\e939";
  color: #4e5e6c;
}
.icon-Small:before {
  content: "\e93a";
}
.icon-SM-all:before {
  content: "\e93b";
  color: #4e5e6c;
}
.icon-SM-Facebook:before {
  content: "\e93c";
  color: #4e5e6c;
}
.icon-SM-instagram:before {
  content: "\e93d";
  color: #4e5e6c;
}
.icon-SM-Linkedin:before {
  content: "\e93e";
  color: #4e5e6c;
}
.icon-SM-Twitter:before {
  content: "\e93f";
  color: #55acee;
}
.icon-Star:before {
  content: "\e940";
  color: #4e5e6c;
}
.icon-Tick:before {
  content: "\e941";
  color: #4e5e6c;
}
.icon-Tickbox .path1:before {
  content: "\e942";
  color: rgb(255, 255, 255);
}
.icon-Tickbox .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: none;
}
.icon-Tickbox .path3:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(78, 94, 108);
}
.icon-User-line:before {
  content: "\e945";
  color: #021d49;
}
.icon-View-Column:before {
  content: "\e946";
  color: #4e5e6c;
}
.icon-View-Grid:before {
  content: "\e947";
  color: #4e5e6c;
}
.icon-View-List:before {
  content: "\e948";
  color: #4e5e6c;
}
.icon-Warning:before {
  content: "\e949";
  color: #4e5e6c;
}
.icon-windows:before {
  content: "\e94a";
  color: #4e5e6c;
}
